<input type="text" [value]="searchStr" (input)="setSearchStr($event)" /> <br />
<input type="radio" name="field" value="title" (change)="setField($event)" />
<input type="radio" name="field" value="subtitle" (change)="setField($event)" />
{{ field }}
<!-- {{ books | bookFilter : searchStr | json }} -->

@for (book of books |bookFilter:searchStr:field; track $index) {
<app-book-preview
  [book]="book"
  [book_]="book"
  (bookSelected)="pong($event)"
  [(value)]="bar"
/>
<!-- @if(selectedIsbn === book.isbn){
<app-book-details [book]="book" />
} -->
<!-- <div class="book">
  <strong>{{ book.title }}</strong> <br />
  <small>{{ book.subtitle }}</small>
</div> -->
}
